.projectsBlock {
    background-color: #B44D54;
}

.projectsContainer {
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #E3BB56;
    margin: 40px 0;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
    .projects {
        justify-content: center;
    }
}