@import "src/common/styles/scss/variables";

.socialIconWrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $borderColor;
  transition: all .4s ease-out;
  color: $textColor;

  &.light {
    border: 2px solid $lightBorderColor;
    color: $lightTextColor;
    transition: all .4s ease-out;
  }

  .icon {
    font-size: 1.2rem;
  }

  &:hover {
    color: $primaryColor;
    border-color: $primaryColor;
    transition: all .4s ease-out;
  }
}