.skillsBlock {
    background-color: #7C5866;
}

.title {
    background-color: #E3BB56;
    margin: 40px 0;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
    .skills {
        justify-content: center;
    }
}

