@import "src/common/styles/scss/variables";

.noteContent {
  align-items: center;
  background: $secondBgcColor;
  border-left: 5px solid $borderColor;
  display: flex;
  margin-bottom: 35px;
  min-height: 120px;
  padding: 30px;
  position: relative;
  width: 500px;
  justify-content: center;
  transition: all .4s ease-out;

  &.light {
    background: $lightSecondBgcColor;
    border-left: 5px solid $lightBorderColor;
    transition: all .4s ease-out;

    &::after {
      transition: all .4s ease-out;
      border-color: $lightSecondBgcColor transparent transparent $lightSecondBgcColor;
    }
  }

  @media screen and (max-width: 750px) {
    width: 100%;
  }

  p {
    font-size: 1.1rem;
  }

  &::after {
    transition: all .4s ease-out;
    border-color: $secondBgcColor transparent transparent $secondBgcColor;
    border-style: solid;
    border-width: 12px;
    content: "";
    left: 30px;
    position: absolute;
    top: 100%;
  }
}