.projectBlock {
    width: 300px;
    background-color: #68ACBA;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.imgContainer {
    width:100%;
    height: 150px;
    background-color: #C9C3BF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #D4E8B3;
    text-decoration: none;
    color:black;
}

.title {
    margin: 10px 0;
}

@media screen and (max-width: 750px) {
    .projectBlock {
        min-width: 100%;
    }
}