@import '../../../common/styles/scss/variables';

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: $secondBgcColor;
  font-size: 1.6rem;
  height: 50px;
  justify-content: center;
  left: 100%;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 50px;
  border: 1px solid $borderColor;
  transition: all .4s ease-out;

  &.light {
    background: $lightSecondBgcColor;
    border: 1px solid $lightBorderColor;
    transition: all .4s ease-out;
  }

  i {
    display: inline-block;
    font: normal normal normal 1em/1 "LineIcons";
    color: inherit;
    flex-shrink: 0;
    speak: none;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    transition: all .4s ease-out;

    &.light::before {
      color: $lightTextColor;
      transition: all .4s ease-out;
    }

    &::before {
      content: '\2630';
      color: $textColor;
      transition: all .4s ease-out;
    }

    &.toggleOn.light::before {
      color: $lightTextColor;
      transition: all .4s ease-out;
    }

    &.toggleOn::before {
      content: '\2573';
      transition: all .4s ease-out;

      &.light {
        color: $lightTextColor;
        transition: all .4s ease-out;
      }
    }
  }
}