$fontFamily:'Nunito', sans-serif;
$textColor:#a4acc4;
$titleColor:#ffffff;
$primaryColor:#037fff;
$mainBgcColor: #10121B;
$secondBgcColor:#191d2b;
$borderColor: #2e344e;

$lightTextColor:#313131;
$lightTitleColor:#151515;
$lightMainBgcColor:#F1F1F1;
$lightSecondBgcColor:#E4E4E4;
$lightBorderColor: #CBCED8;