@import "src/common/styles/scss/variables";

.buttonOffer {
  margin-top: 15px;
  height: 45px;
  line-height: 45px;
  background: $primaryColor;
  border: 0;
  color: $titleColor;
  display: inline-block;
  font-size: .9rem;
  letter-spacing: 2px;
  padding: 0 30px;
  position: relative;
  text-transform: uppercase;
  transition: all .4s ease-out;
  z-index: 1;
  cursor: pointer;
}

