@import "../../common/styles/scss/variables";

.footerBlock {
  border-top: 1px solid $borderColor;
  transition: all .4s ease-out;
  &.light {
    border-color: $lightBorderColor;
    transition: all .4s ease-out;
  }

  .footerContainer {
    flex-direction: column;
    align-items: center;
    min-width: min-content;

    .fullName {
      margin-top:20px;
    }

    .rights {
      margin: 10px 0;
    }
  }
}




